/* Font Face Bebas Neue */
@font-face {
  font-family 					: 'Bebas Neue';
  src 							: url(../fonts/BebasNeue.otf);
  font-style 					: normal;
  font-weight 					: normal;
  font-variant 					: normal;
}

/* LAYOUT */
.body.wrapper {
	width 						: 950px;
	height 						: 500px;
	margin 						: 0 auto;
	padding 					: 10px;
}

.main.header {
	font-size 					: 72px;
	font-family					: 'Bebas Neue', Verdana, Arial; 
	text-align 					: right;
	padding 					: 0 30px;
	width   					: 400px;
	margin 						: 0 auto;  
}

.main.header .sub.header {
	font-size 					: 30px;
	color 						: rgba(0, 0, 0, 0.7);
	font-family					: 'TW Cen MT', 'Segoe UI', Verdana, Arial; 
	margin 						: -13px 0;
}

.main.nav {
	width 						: 100%;
	height 						: 50px;
	background 					: #222222;
	position 					: fixed; 
	bottom 						: 0;  
	padding 					: 0px;
}

.main.nav nav {
	text-align 					: center; 
}

.main.nav nav a {
	padding 					: 12px 7px 12px 12px;
}

.main.nav nav a:hover {
	background 					: #555555; 
}

.main.nav nav a .icon {
	background 					: none;
}

.main.nav nav a .icon:hover {
	background 					: none;
}

.main.body .laporan{
	width 						: 47%;
	border-right 				: 1px solid #000000;
	height 						: 420px;
	padding-top 				: 20px;
	margin-top 					: 50px;
	overflow-y 					: scroll;
	float 						: left;
}

.main.body .laporan .item {
	width 						: 100%;
	height 						: 50px;
	margin 						: 5px 0;
}

.main.body .laporan .item .desc {
	width 						: 57%;
	height 						: inherit;
	float 						: left;
	background 					: #9ce85e;
	color 						: #ffffff;
	padding 					: 10px;
	overflow 					: hidden;

	-webkit-transition			: height 0.75s ease;
  	-moz-transition				: height 0.75s ease;
  	-ms-transition				: height 0.75s ease;
  	-o-transition				: height 0.75s ease;
  	transition 					: height 0.75s ease;
}

.main.body .laporan .item .red.desc {
	background 					: #ff5a5a;
}

.main.body .laporan .item .desc:hover {
	height 						: 150px;
}

.main.body .laporan .item .desc .title {
	font-size 					: 30px;
	font-weight 				: 200; 
	margin-bottom 				: 10px;
}

.main.body .laporan .item .desc .type {
	font-size 					: 14px;
	float 						: left;
}

.main.body .laporan .item .desc .date {
	font-size 					: 14px;
	float 						: right;
}

.main.body .laporan .item .desc .detail {
	font-size 					: 12px;
	float 						: none;
	clear 						: both;
	margin-top 					: 30px;
}

.main.body .laporan .item .amount {
	text-align 					: right;
	height 						: inherit;
	padding 					: 10px 20px;
	font-size 					: 20px;
}

.main.body .summary {
	width 						: 47%;
	height 						: 420px;
	padding 	 				: 20px;
	margin-top 					: 50px;
	overflow    				: hidden;
	float 						: left;
}

.main.body .summary header {
	font-size 					: 36px;
	font-family					: 'Bebas Neue', Verdana, Arial; 
	margin-bottom 				: 15px 
}

.main.body .summary-text {
	display 					: none;
	width 						: 47%;
	height 						: 420px;
	padding 	 				: 20px;
	margin-top 					: 50px;
	overflow    				: hidden;
	float 						: left;
}

.main.body .summary-text form textarea{
	height 						: 400px;
}

section.input {
	width 						: 100%;
	height 						: 370px; 
	position 					: fixed;
	background 					: #222222;
	bottom 						: -420px;
	padding 					: 20px;
}

section.input header.input.header {
	font-size 					: 36px;
	font-family					: 'Bebas Neue', Verdana, Arial; 
	color 						: #FFFFFF;
	margin-bottom 				: 15px 
}

section.input .wrapper {
	width 						: 650px;
	margin 						: 0 auto;
}

section.input .wrapper form section.left {
	float 						: left;
}

section.input .wrapper form section.right {
	float 						: right;
	width 						: 66%;
}

section.input .wrapper form section.right textarea {
	resize						: none;
	height 						: 155px;
}

form section.left .field label.title.label {
	font-size 					: 25px;
	color 						: rgba(255, 255, 255, 0.7); 
}

/* ELEMENT */
strong {
	font-weight 				: 800;
	font-size 					: 120%;
}

strong.very {
	font-weight 				: 900;
	font-size 					: 150%;
}

table tr td {
	min-width 					: 130px;
	min-height 					: 40px;
	padding 					: 10px;
}

table tr td:first-child {
	width 						: 280px;
}

table tr td:last-child {
	text-align 					: right;
}

.button {
	cursor 						: pointer;
	border 						: none;
	border-bottom 				: 3px solid rgba(0, 0, 0, 0.5); 

	-webkit-transition			: background-color 0.25s ease;
  	-moz-transition				: background-color 0.25s ease;
  	-ms-transition				: background-color 0.25s ease;
  	-o-transition				: background-color 0.25s ease;
  	transition 					: background-color 0.25s ease;
}

.cat.button {
	float 						: left;
	padding   					: 5px 0px 5px 5px;
	background 					: #555555;
	margin 						: 2px;
}

.cat.button:hover {
	background-color 			: #AAAAAA;
}

.cat.button:active,
.cat.button.active {
	background-color 			: #777777;
}

.submit.button,
.cancel.button {
	width 						: 100%;
	color 						: #FFFFFF;
	font-size 					: 25px;
	padding 					: 10px;
	margin-bottom 				: 5px;
}

.submit.button:focus,
.cancel.button:focus {
	outline 					: none;
}

.submit.button {
	background 					: #27ae60;
}

.submit.button:hover {
	background 					: #2ecc71;
}

.cancel.button {
	background 					: #c0392b;
}

.cancel.button:hover {
	background 					: #e74c3c;
}

#lala {
	width: 300px;
}